<!DOCTYPE HTML> 
<style> 
background-color: green;
font-family: inverted squares 
font-size: 50px
padding: 40px;
bordering: 50px;
  div {
    border: 10px solid lightblue;
  }
  div > p {
    border: 1px dotted orange;
    margin: 20px 50px 10px 30px;
  }
</style>
<title>Example</title>
<style>
  div {
    padding: 20px;
    background-color: yellow;
  }
</style>

<center>
<div><h1> HERITAGE Day. </h1></div>
<hr>
<iframe width="853" height="480" src="https://www.youtube.com/embed/BNLIB3dNzJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
<img src: "https://turntable.kagiso.io/images/Heritage_Day_iStock.width-800.jpg">
<p1> This day it is time to celebrate Heritage Day because it celebrate the foundamental of working together with other people that people in order to be closer to who they are and how they have 
become a supporter of the greater South Africa, which has not been there since the September, sad events that are not easy to talk or involve the issue is that, you just dress. What should I do in order to take part in this amazing event that needs to be. </p1><br>
<iframe width="853" height="480" src="https://www.youtube.com/embed/cpJ_S2VCk4w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h2> Understand Botswana. </h2><hr><p2> The Tswana make up about 80% of the population of Botswana. In the 19th century, a common spelling and pronunciation of Batswana was Bechuana. Europeans therefore referred to the area inhabited by the Tswana as Bechuanaland. In the Tswana language, however, Botswana is the name for the country of the Tswana. </p2><br>
<p2> A Tswana woman’s traditional dress, which has evolved over the centuries, indicates her position. It is usually a voluminous outfit of dull colour over which she wears a multi-coloured apron tied at the back. This is finished off with a head scarf. </p2><br>

<br><hr><p2> The best thing that I can do for people that can not be able is too watch the video of traditional people that are, pooor and live in shacks </p2><br> 
<iframe width="853" height="480" src="https://www.youtube.com/embed/TJXk7-zv65Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br></center>
<cite> Copyright 2021 </cite>
</HTML>
